extends layout

block content

    div#refresh.uk-padding-remove.uk-margin-small
        div.fadein
        div#message-text.black
        div.fadeout

    //- TOP BAR
    div.uk-section.uk-section-small.uk-section-secondary.uk-text-center.uk-padding-remove.uk-position-top
        div.uk-container.uk-text-center
            h2.uk-text-uppercase=settings.title

    //- TABLE
    table.uk-height-viewport.uk-width-1.uk-table.uk-table-divider.uk-table-middle.uk-margin-remove.uk-table-small(uk-height-viewport="offset-top: true;offset-bottom: true;" style="background:"+settings.themecol+" url(\""+settings.themeimg+"\") 50%;margin:40px 0!important;")
        tr.uk-card.uk-card-body.uk-text-center
            td
                h1(style="padding-top:80px;")#time.uk-heading-hero time
        tr.uk-card.uk-card-body.uk-text-center
            td#date date

        //-         //- include inc/clock.pug

        tr.uk-card.uk-card-body.uk-text-center
            td(style="padding:0 30px!important;margin:0!important;")
                table.uk-table.uk-table-divider.uk-table-middle
                    thead
                        tr
                            th.uk-text-left= settings.prayerlabel
                            th.uk-text-center= settings.adhanlabel
                            th.uk-text-center= settings.iqamahlabel
                            th.uk-text-right.arabic صلاة


                    tbody.uk-text-uppercase.uk-text-center(style="background:rgba(255,255,255,.35);")
                        - i = 0;
                        - names = [[settings.names[0],'الفجر'], [settings.names[1], 'الشروق'], [settings.names[2], 'الظهر'], [settings.names[3], 'العصر'], [settings.names[4], 'المغرب'], [settings.names[5], 'العشاء']]
                        each val in names
                            tr(id="row-"+i)
                                td.uk-text-left= val[0]
                                td(id='prayer-time-'+i)
                                td(id='jamaah-time-'+i)
                                td.uk-text-right.arabic= val[1]
                                - i++

        tr.uk-card.uk-card-body.uk-text-center
            td
                div
                    span#pending-name.uk-text-right(style="margin-right:10px;") Prayer
                    span#timetoprayer.uk-text-left(style="margin-left:10px;") Countdown
                                
        //- tr


        tr.uk-card.uk-card-body.uk-text-center
            - var bodytext = settings.body.split("\r\n");
            - var announcements = settings.announcement.split("\r\n");

            td
                div#ticker.uk-text-center(style="width:100%;")
                    ul.uk-list.uk-text-center
                        each text in bodytext
                            - var words = text.split(" ");
                            - var arrays = [], size = 7;
                            - while(words.length>0) {arrays.push(words.splice(0,size)); }
                            each array in arrays
                                - val = array.join(" ")
                                li.arabic=val
                        each announcement in announcements
                            - var words = announcement.split(" ");
                            - var arrays = [], size = 7;
                            - while(words.length>0) {arrays.push(words.splice(0,size)); }
                            each array in arrays
                                - val = array.join(" ")
                                li.arabic
                                    strong=val



    //- BOTTOM BAR
    - if(((settings.jummuahtime).split(":"))[1] < 10) var jummuahtime = ((settings.jummuahtime).split(":"))[0] + ": 0" + ((settings.jummuahtime).split(":"))[1]; else var jummuahtime = settings.jummuahtime;

    div.uk-section.uk-section-xsmall.uk-section-secondary.uk-text-center.uk-padding-remove.uk-position-bottom
        div.uk-container.uk-text-center
            h2.uk-text-uppercase=settings.jummuahlabel + " " + jummuahtime
                | 
                span#ramadan


    div#overlay.uk-position-cover.uk-overlay.uk-overlay-default.uk-flex.uk-flex-center.uk-flex-middle.uk-text-center &nbsp;

block scripts
    script(src='/js/refresh.js')

    style(type="text/css").
        #ticker ul {
            list-style: none;
            padding-left: 2em;
            width: 100%;
        }
    script.
        $(function() {$('#ticker').vTicker('init', {
            speed: 500, 
            pause: 10000,
            showItems: 3,
            padding:0})
            });